<style type="text/css">
    @media (max-width: 375px) {
        .edit-form tr td input {
            width: 100%;
        }

        .edit-form tr th:first-child, .edit-form tr td:first-child {
            width: 20%;
        }

        .edit-form tr th:nth-last-of-type(-n+2), .edit-form tr td:nth-last-of-type(-n+2) {
            display: none;
        }
    }

    .edit-form table > tbody > tr td a.btn-delcfg {
        visibility: hidden;
    }

    .edit-form table > tbody > tr:hover td a.btn-delcfg {
        visibility: visible;
    }
</style>
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        {:build_heading(null, false)}
        <ul class="nav nav-tabs">
            {foreach $siteList as $index=>$vo}
            <li class="{$vo.active?'active':''}"><a href="#{$vo.name}" data-toggle="tab">{:__($vo.title)}</a></li>
            {/foreach}
            <li><a href="#api-center" data-toggle="tab"><i class="fa fa-plug"></i> API接口</a></li>
            <li data-toggle="tooltip" title="{:__('Add new config')}">
                <a href="#addcfg" data-toggle="tab"><i class="fa fa-plus"></i></a>
            </li>
        </ul>
    </div>

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            {foreach $siteList as $index=>$vo}
            <div class="tab-pane fade {$vo.active ? 'active in' : ''}" id="{$vo.name}">
                <div class="widget-body no-padding">
                    <form id="{$vo.name}-form" class="edit-form form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url('general.config/edit')}">
                        {:token()}
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th width="15%">{:__('Title')}</th>
                                <th width="68%">{:__('Value')}</th>
                                <th width="15%">{:__('Name')}</th>
                                <th width="2%"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $vo.list as $item}
                            <tr>
                                <td>{$item.title}</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-8 col-xs-12">
                                            {switch $item.type}
                                            {case string}
                                            <input {$item.extend} type="text" name="row[{$item.name}]" value="{$item.value|htmlentities}" class="form-control" data-rule="{$item.rule}" data-tip="{$item.tip}"/>
                                            {/case}
                                            {case text}
                                            <textarea {$item.extend} name="row[{$item.name}]" class="form-control" data-rule="{$item.rule}" rows="5" data-tip="{$item.tip}">{$item.value|htmlentities}</textarea>
                                            {/case}
                                            {case editor}
                                            <textarea {$item.extend} name="row[{$item.name}]" id="editor-{$item.name}" class="form-control editor" data-rule="{$item.rule}" rows="5" data-tip="{$item.tip}">{$item.value|htmlentities}</textarea>
                                            {/case}
                                            {case array}
                                            <dl class="fieldlist" data-name="row[{$item.name}]">
                                                <dd>
                                                    <ins>{:__('Array key')}</ins>
                                                    <ins>{:__('Array value')}</ins>
                                                </dd>
                                                <dd><a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i> {:__('Append')}</a></dd>
                                                <textarea name="row[{$item.name}]" class="form-control hide" cols="30" rows="5">{$item.value|htmlentities}</textarea>
                                            </dl>
                                            {/case}
                                            {case date}
                                            <input {$item.extend} type="text" name="row[{$item.name}]" value="{$item.value}" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-tip="{$item.tip}" data-rule="{$item.rule}"/>
                                            {/case}
                                            {case time}
                                            <input {$item.extend} type="text" name="row[{$item.name}]" value="{$item.value}" class="form-control datetimepicker" data-date-format="HH:mm:ss" data-tip="{$item.tip}" data-rule="{$item.rule}"/>
                                            {/case}
                                            {case datetime}
                                            <input {$item.extend} type="text" name="row[{$item.name}]" value="{$item.value}" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-tip="{$item.tip}" data-rule="{$item.rule}"/>
                                            {/case}
                                            {case number}
                                            <input {$item.extend} type="number" name="row[{$item.name}]" value="{$item.value}" class="form-control" data-tip="{$item.tip}" data-rule="{$item.rule}"/>
                                            {/case}
                                            {case checkbox}
                                            {foreach name="item.content" item="vo"}
                                            <label for="row[{$item.name}][]-{$key}"><input id="row[{$item.name}][]-{$key}" name="row[{$item.name}][]" type="checkbox" value="{$key}" data-tip="{$item.tip}" {in name="key" value="$item.value" }checked{/in} /> {$vo}</label>
                                            {/foreach}
                                            {/case}
                                            {case radio}
                                            {foreach name="item.content" item="vo"}
                                            <label for="row[{$item.name}]-{$key}"><input id="row[{$item.name}]-{$key}" name="row[{$item.name}]" type="radio" value="{$key}" data-tip="{$item.tip}" {in name="key" value="$item.value" }checked{/in} /> {$vo}</label>
                                            {/foreach}
                                            {/case}
                                            {case value="select" break="0"}{/case}
                                            {case value="selects"}
                                            <select {$item.extend} name="row[{$item.name}]{$item.type=='selects'?'[]':''}" class="form-control selectpicker" data-tip="{$item.tip}" {$item.type=='selects'?'multiple':''}>
                                                {foreach name="item.content" item="vo"}
                                                <option value="{$key}" {in name="key" value="$item.value" }selected{/in}>{$vo}</option>
                                                {/foreach}
                                            </select>
                                            {/case}
                                            {case value="image" break="0"}{/case}
                                            {case value="images"}
                                            <div class="form-inline">
                                                <input id="c-{$item.name}" class="form-control" size="50" name="row[{$item.name}]" type="text" value="{$item.value|htmlentities}" data-tip="{$item.tip}">
                                                <span><button type="button" id="plupload-{$item.name}" class="btn btn-danger plupload" data-input-id="c-{$item.name}" data-mimetype="image/*" data-multiple="{$item.type=='image'?'false':'true'}" data-preview-id="p-{$item.name}"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                                                <span><button type="button" id="fachoose-{$item.name}" class="btn btn-primary fachoose" data-input-id="c-{$item.name}" data-mimetype="image/*" data-multiple="{$item.type=='image'?'false':'true'}"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                                                <span class="msg-box n-right" for="c-{$item.name}"></span>
                                                <ul class="row list-inline plupload-preview" id="p-{$item.name}"></ul>
                                            </div>
                                            {/case}
                                            {case value="file" break="0"}{/case}
                                            {case value="files"}
                                            <div class="form-inline">
                                                <input id="c-{$item.name}" class="form-control" size="50" name="row[{$item.name}]" type="text" value="{$item.value|htmlentities}" data-tip="{$item.tip}">
                                                <span><button type="button" id="plupload-{$item.name}" class="btn btn-danger plupload" data-input-id="c-{$item.name}" data-multiple="{$item.type=='file'?'false':'true'}"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                                                <span><button type="button" id="fachoose-{$item.name}" class="btn btn-primary fachoose" data-input-id="c-{$item.name}" data-multiple="{$item.type=='file'?'false':'true'}"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                                                <span class="msg-box n-right" for="c-{$item.name}"></span>
                                            </div>
                                            {/case}
                                            {case switch}
                                            <input id="c-{$item.name}" name="row[{$item.name}]" type="hidden" value="{:$item.value?1:0}">
                                            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c-{$item.name}" data-yes="1" data-no="0">
                                                <i class="fa fa-toggle-on text-success {if !$item.value}fa-flip-horizontal text-gray{/if} fa-2x"></i>
                                            </a>
                                            {/case}
                                            {case bool}
                                            <label for="row[{$item.name}]-yes"><input id="row[{$item.name}]-yes" name="row[{$item.name}]" type="radio" value="1" {$item.value?'checked':''} data-tip="{$item.tip}" /> {:__('Yes')}</label>
                                            <label for="row[{$item.name}]-no"><input id="row[{$item.name}]-no" name="row[{$item.name}]" type="radio" value="0" {$item.value?'':'checked'} data-tip="{$item.tip}" /> {:__('No')}</label>
                                            {/case}
                                            {case custom}
                                            {$item.extend}
                                            {/case}
                                            {/switch}
                                            {if $item.name == 'message'}
                                            <div class="announcement-template-tools" style="margin-top:10px;padding:10px;border:1px solid #e5e5e5;border-radius:4px;background:#fafafa;">
                                                <div style="margin-bottom:6px;"><strong><i class="fa fa-magic"></i> 动态公告变量</strong> <span class="text-muted">点击即可插入；授权时间统一使用 [到期时间] / [剩余时间]</span></div>
                                                <div class="announcement-variable-list" style="margin-bottom:8px;">
                                                    {foreach $announcementVariables as $announcementVariable}
                                                    <button type="button" class="btn btn-xs btn-default announcement-variable" data-token="[{$announcementVariable.key}]" title="{$announcementVariable.description|htmlentities}" style="margin:0 4px 4px 0;">[{$announcementVariable.key}]</button>
                                                    {/foreach}
                                                </div>
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="announcement-preview-udid" class="form-control" placeholder="可选：输入 UDID，预览该设备真实授权状态"/>
                                                    <span class="input-group-btn">
                                                        <button type="button" id="announcement-preview-submit" class="btn btn-info"><i class="fa fa-eye"></i> 实时预览</button>
                                                    </span>
                                                </div>
                                                <pre id="announcement-preview-result" class="hide" style="margin-top:8px;white-space:pre-wrap;word-break:break-all;"></pre>
                                            </div>
                                            {/if}
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>

                                </td>
                                <td>{php}echo "{\$site.". $item['name'] . "}";{/php}</td>
                                <td>{if $item['id']>17}<a href="javascript:;" class="btn-delcfg text-muted" data-name="{$item.name}"><i class="fa fa-times"></i></a>{/if}</td>
                            </tr>
                            {/foreach}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td></td>
                                <td>
                                    <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
                                     {if $index == 'basic'}
                                    <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
                                    <button type="button" onclick="update()" class="btn btn-danger btn-embossed">检查更新</button>
                                    <button type="button" onclick="githubUpdate()" class="btn btn-info btn-embossed"><i class="fa fa-github"></i> GitHub 在线更新</button>
                                    {/if}
                                    {if $index == 'uinfo'}
                                    <button type="submit" onclick="sc()" class="btn btn-danger btn-embossed">生成动态库</button>
                                    {/if}
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
            </div>
            {/foreach}

            <div class="tab-pane fade" id="api-center"
                 data-toggle-url="{:url('general.config/api_toggle')}"
                 data-save-url="{:url('general.config/api_save')}"
                 data-delete-url="{:url('general.config/api_delete')}"
                 data-test-url="{:url('general.config/api_test')}"
                 data-logs-url="{:url('general.config/api_logs')}">
                <div class="widget-body no-padding">
                    <ul class="nav nav-pills" style="margin-bottom:15px;">
                        <li class="active"><a href="#project-api-list" data-toggle="tab">API列表</a></li>
                        <li><a href="#project-api-add" data-toggle="tab">新增API</a></li>
                        <li><a href="#project-api-edit" data-toggle="tab">编辑API</a></li>
                        <li><a href="#project-api-test" data-toggle="tab">测试API</a></li>
                        <li><a href="#project-api-logs" data-toggle="tab">请求日志</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="project-api-list">
                            <div class="alert alert-info">
                                这里只管理当前项目自己的公开接口，不包含 FastAdmin 原生 /api/*。
                                完整地址自动使用当前访问域名生成。系统API不可删除，自定义API可增改删。
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>名称</th>
                                        <th>接口地址</th>
                                        <th>Method</th>
                                        <th>来源</th>
                                        <th>鉴权</th>
                                        <th>状态</th>
                                        <th>今日请求</th>
                                        <th>最后请求</th>
                                        <th>平均耗时</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name="apiEndpoints" id="api"}
                                    <tr>
                                        <td>{$api.name|htmlentities}</td>
                                        <td style="max-width:420px;word-break:break-all;"><code>{$api.full_url|htmlentities}</code></td>
                                        <td>{$api.method|htmlentities}</td>
                                        <td>{if condition="$api.source eq 'system'"}系统API{else /}自定义API{/if}</td>
                                        <td>{$api.auth|htmlentities}</td>
                                        <td>
                                            {if condition="$api.enabled"}
                                            <span class="label label-success">开启</span>
                                            {else /}
                                            <span class="label label-default">关闭</span>
                                            {/if}
                                        </td>
                                        <td>{$api.today_requests}</td>
                                        <td>{if condition="$api.last_request"}{:date('H:i:s',$api.last_request)}{else /}-{/if}</td>
                                        <td>{$api.avg_ms} ms</td>
                                        <td style="white-space:nowrap;">
                                            {if condition="$api.enabled"}
                                            <button type="button" class="btn btn-xs btn-warning api-toggle-btn" data-key="{$api.endpoint_key|htmlentities}" data-enabled="0">关闭</button>
                                            {else /}
                                            <button type="button" class="btn btn-xs btn-success api-toggle-btn" data-key="{$api.endpoint_key|htmlentities}" data-enabled="1">开启</button>
                                            {/if}
                                            <button type="button" class="btn btn-xs btn-info api-test-select"
                                                    data-key="{$api.endpoint_key|htmlentities}"
                                                    data-name="{$api.name|htmlentities}"
                                                    data-url="{$api.full_url|htmlentities}">测试</button>
                                            {if condition="$api.source neq 'system'"}
                                            <button type="button" class="btn btn-xs btn-primary api-edit-select"
                                                    data-id="{$api.id}"
                                                    data-name="{$api.name|htmlentities}"
                                                    data-path="{$api.path|htmlentities}"
                                                    data-method="{$api.method|htmlentities}"
                                                    data-auth="{$api.auth|htmlentities}"
                                                    data-handler="{$api.handler_key|htmlentities}"
                                                    data-enabled="{$api.enabled}"
                                                    data-description="{$api.description|htmlentities}">编辑</button>
                                            <button type="button" class="btn btn-xs btn-danger api-delete-btn" data-id="{$api.id}" data-name="{$api.name|htmlentities}">删除</button>
                                            {/if}
                                        </td>
                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane" id="project-api-add">
                            <form id="project-api-add-form" class="form-horizontal">
                                <div class="form-group"><label class="control-label col-xs-12 col-sm-2">名称</label><div class="col-xs-12 col-sm-6"><input class="form-control" name="row[name]" required></div></div>
                                <div class="form-group"><label class="control-label col-xs-12 col-sm-2">API别名</label><div class="col-xs-12 col-sm-6"><div class="input-group"><span class="input-group-addon">/project-api/</span><input class="form-control" name="row[slug]" placeholder="例如 dylib-auth-v2" required></div></div></div>
                                <div class="form-group"><label class="control-label col-xs-12 col-sm-2">处理器</label><div class="col-xs-12 col-sm-6"><select class="form-control" name="row[handler_key]">{foreach name="apiHandlers" item="handlerName"}<option value="{$key}">{$handlerName}</option>{/foreach}</select></div></div>
                                <div class="form-group"><label class="control-label col-xs-12 col-sm-2">Method</label><div class="col-xs-12 col-sm-6"><select class="form-control" name="row[method]"><option>GET</option><option>POST</option><option>ANY</option></select></div></div>
                                <div class="form-group"><label class="control-label col-xs-12 col-sm-2">鉴权说明</label><div class="col-xs-12 col-sm-6"><input class="form-control" name="row[auth]" placeholder="例如 UDID+HMAC"></div></div>
                                <div class="form-group"><label class="control-label col-xs-12 col-sm-2">说明</label><div class="col-xs-12 col-sm-6"><input class="form-control" name="row[description]"></div></div>
                                <div class="form-group"><label class="control-label col-xs-12 col-sm-2">状态</label><div class="col-xs-12 col-sm-6"><label><input type="checkbox" name="row[enabled]" value="1" checked> 开启</label></div></div>
                                <div class="form-group"><div class="col-xs-12 col-sm-offset-2 col-sm-6"><button type="button" class="btn btn-success" id="project-api-add-submit">保存API</button></div></div>
                            </form>
                        </div>

                        <div class="tab-pane" id="project-api-edit">
                            <div class="alert alert-warning" id="project-api-edit-empty">请先从“API列表”选择一个自定义API进行编辑。系统API只允许开启/关闭。</div>
                            <form id="project-api-edit-form" class="form-horizontal hide">
                                <input type="hidden" name="id" id="project-api-edit-id">
                                <div class="form-group"><label class="control-label col-xs-12 col-sm-2">名称</label><div class="col-xs-12 col-sm-6"><input class="form-control" name="row[name]" id="project-api-edit-name" required></div></div>
                                <div class="form-group"><label class="control-label col-xs-12 col-sm-2">API别名</label><div class="col-xs-12 col-sm-6"><div class="input-group"><span class="input-group-addon">/project-api/</span><input class="form-control" name="row[slug]" id="project-api-edit-slug" required></div></div></div>
                                <div class="form-group"><label class="control-label col-xs-12 col-sm-2">处理器</label><div class="col-xs-12 col-sm-6"><select class="form-control" name="row[handler_key]" id="project-api-edit-handler">{foreach name="apiHandlers" item="handlerName"}<option value="{$key}">{$handlerName}</option>{/foreach}</select></div></div>
                                <div class="form-group"><label class="control-label col-xs-12 col-sm-2">Method</label><div class="col-xs-12 col-sm-6"><select class="form-control" name="row[method]" id="project-api-edit-method"><option>GET</option><option>POST</option><option>ANY</option></select></div></div>
                                <div class="form-group"><label class="control-label col-xs-12 col-sm-2">鉴权说明</label><div class="col-xs-12 col-sm-6"><input class="form-control" name="row[auth]" id="project-api-edit-auth"></div></div>
                                <div class="form-group"><label class="control-label col-xs-12 col-sm-2">说明</label><div class="col-xs-12 col-sm-6"><input class="form-control" name="row[description]" id="project-api-edit-description"></div></div>
                                <div class="form-group"><label class="control-label col-xs-12 col-sm-2">状态</label><div class="col-xs-12 col-sm-6"><label><input type="checkbox" name="row[enabled]" id="project-api-edit-enabled" value="1"> 开启</label></div></div>
                                <div class="form-group"><div class="col-xs-12 col-sm-offset-2 col-sm-6"><button type="button" class="btn btn-success" id="project-api-edit-submit">保存修改</button></div></div>
                            </form>
                        </div>

                        <div class="tab-pane" id="project-api-test">
                            <form id="project-api-test-form" class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">接口</label>
                                    <div class="col-xs-12 col-sm-7">
                                        <select class="form-control" name="endpoint_key" id="project-api-test-key">
                                            <option value="">请选择API接口</option>
                                            {volist name="apiEndpoints" id="api"}
                                            <option value="{$api.endpoint_key|htmlentities}"
                                                    data-url="{$api.full_url|htmlentities}"
                                                    data-method="{$api.method|htmlentities}"
                                                    data-auth="{$api.auth|htmlentities}">
                                                {$api.name|htmlentities} — {$api.path|htmlentities}
                                            </option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="control-label col-xs-12 col-sm-2">完整地址</label><div class="col-xs-12 col-sm-7"><input class="form-control" id="project-api-test-url" readonly placeholder="选择接口后自动显示"></div></div>
                                <div class="form-group"><label class="control-label col-xs-12 col-sm-2">Method</label><div class="col-xs-12 col-sm-3"><input class="form-control" id="project-api-test-method" readonly></div><label class="control-label col-xs-12 col-sm-1">鉴权</label><div class="col-xs-12 col-sm-3"><input class="form-control" id="project-api-test-auth" readonly></div></div>
                                <div class="form-group"><label class="control-label col-xs-12 col-sm-2">参数</label><div class="col-xs-12 col-sm-7"><input class="form-control" name="params" id="project-api-test-params" placeholder="例如 udid=00008120-..."></div></div>
                                <div class="form-group"><div class="col-xs-12 col-sm-offset-2 col-sm-7"><button type="button" class="btn btn-info" id="project-api-test-submit">发送测试</button></div></div>
                            </form>
                            <pre id="project-api-test-result" style="display:none;max-height:360px;overflow:auto;"></pre>
                        </div>

                        <div class="tab-pane" id="project-api-logs">
                            <div class="form-inline" style="margin-bottom:10px;">
                                <button type="button" class="btn btn-default" id="project-api-logs-refresh"><i class="fa fa-refresh"></i> 刷新日志</button>
                                <select class="form-control" id="project-api-logs-limit" style="margin-left:8px;">
                                    <option value="50">最近50条</option>
                                    <option value="100" selected>最近100条</option>
                                    <option value="200">最近200条</option>
                                </select>
                                <span class="text-muted" id="project-api-logs-status" style="margin-left:8px;"></span>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead><tr><th>ID</th><th>接口</th><th>Method</th><th>路径</th><th>IP</th><th>HTTP</th><th>耗时</th><th>时间</th></tr></thead>
                                    <tbody id="project-api-log-body">
                                    {volist name="apiLogs" id="log"}
                                    <tr>
                                        <td>{$log.id}</td><td>{$log.endpoint_key|htmlentities}</td><td>{$log.method|htmlentities}</td>
                                        <td>{$log.path|htmlentities}</td><td>{$log.ip|htmlentities}</td><td>{$log.status_code}</td>
                                        <td>{$log.duration_ms} ms</td><td>{:date('Y-m-d H:i:s',$log.addtime)}</td>
                                    </tr>
                                    {/volist}
                                    {if condition="empty($apiLogs)"}<tr><td colspan="8" class="text-muted text-center">暂无API请求日志</td></tr>{/if}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="addcfg">
                <form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url('general.config/add')}">
                    {:token()}
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
                        <div class="col-xs-12 col-sm-4">
                            <select name="row[type]" class="form-control selectpicker">
                                {foreach name="typeList" item="vo"}
                                <option value="{$key}" {in name="key" value="string" }selected{/in}>{$vo}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2">{:__('Group')}:</label>
                        <div class="col-xs-12 col-sm-4">
                            <select name="row[group]" class="form-control selectpicker">
                                {foreach name="groupList" item="vo"}
                                <option value="{$key}" {in name="key" value="basic" }selected{/in}>{$vo}</option>
                                <option value="{$key}" {in name="key" value="uinfo" }selected{/in}>{$vo}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
                        <div class="col-xs-12 col-sm-4">
                            <input type="text" class="form-control" id="name" name="row[name]" value="" data-rule="required; length(3~30); remote(general/config/check)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
                        <div class="col-xs-12 col-sm-4">
                            <input type="text" class="form-control" id="title" name="row[title]" value="" data-rule="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="value" class="control-label col-xs-12 col-sm-2">{:__('Value')}:</label>
                        <div class="col-xs-12 col-sm-4">
                            <input type="text" class="form-control" id="value" name="row[value]" value="" data-rule=""/>
                        </div>
                    </div>
                    <div class="form-group hide" id="add-content-container">
                        <label for="content" class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
                        <div class="col-xs-12 col-sm-4">
                            <textarea name="row[content]" id="content" cols="30" rows="5" class="form-control" data-rule="required(content)">value1|title1
value2|title2</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tip" class="control-label col-xs-12 col-sm-2">{:__('Tip')}:</label>
                        <div class="col-xs-12 col-sm-4">
                            <input type="text" class="form-control" id="tip" name="row[tip]" value="" data-rule=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rule" class="control-label col-xs-12 col-sm-2">{:__('Rule')}:</label>
                        <div class="col-xs-12 col-sm-4">
                            <div class="input-group pull-left">
                                <input type="text" class="form-control" id="rule" name="row[rule]" value="" data-tip="{:__('Rule tips')}"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button">{:__('Choose')}</button>
                                    <ul class="dropdown-menu pull-right rulelist">
                                        {volist name="ruleList" id="item"}
                                        <li><a href="javascript:;" data-value="{$key}">{$item}<span class="text-muted">({$key})</span></a></li>
                                        {/volist}
                                    </ul>
                                </span>
                            </div>
                            <span class="msg-box n-right" for="rule"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="extend" class="control-label col-xs-12 col-sm-2">{:__('Extend')}:</label>
                        <div class="col-xs-12 col-sm-4">
                            <textarea name="row[extend]" id="extend" cols="30" rows="5" class="form-control" data-tip="{:__('Extend tips')}" data-rule="required(extend)" data-msg-extend="当类型为自定义时，扩展属性不能为空"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2"></label>
                        <div class="col-xs-12 col-sm-4">
                            <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
                            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<script>

function sc(){
    window.open('https://control.v-team.cn/panel/login');
    return false;
}
function updateSourceConfig(source){
    if(source === 'github'){
        return {
            checkUrl: 'general/config/github_update',
            installUrl: 'general/config/github_system_update',
            title: 'GitHub 在线更新'
        };
    }
    return {
        checkUrl: 'general/config/update',
        installUrl: 'general/config/system_update',
        title: '原版在线更新'
    };
}
function runSystemUpdate(source, force){
    var cfg = updateSourceConfig(source);
    layer.msg('正在更新..', {
        icon: 16
        ,shade: 0.3
        ,time: false
    });
    $.ajax({
        type: 'POST',
        url: cfg.installUrl,
        dataType: 'json',
        data: force ? {force: 1} : {},
        success: function (str) {
            layer.alert(str.msg || '', { icon: str.code == 200 ? 1 : 2, closeBtn: 0 }, function () {
                layer.closeAll();
                if (str.code == 200) {
                    location.reload();
                }
            });
        },
        error: function () {
            layer.alert(cfg.title + '请求失败', {icon: 2});
        }
    });
}
function updateConfirmHtml(str){
    var changelog = (str.data && str.data.changelog) ? String(str.data.changelog) : '';
    var content = '<div style="text-align:left;line-height:1.6;"><p>' + $('<div/>').text(str.msg || '服务器有新版本').html() + '</p>';
    if (str.data && str.data.sha256) {
        content += '<p style="font-size:12px;color:#777;word-break:break-all;">SHA256: ' + $('<div/>').text(str.data.sha256).html() + '</p>';
    }
    if (changelog) {
        content += '<pre style="white-space:pre-wrap;word-break:break-word;background:#f5f5f5;padding:8px;margin-top:8px;max-height:240px;overflow:auto;">' + $('<div/>').text(changelog).html() + '</pre>';
    }
    content += '</div>';
    return content;
}
function checkOnlineUpdate(source){
    var cfg = updateSourceConfig(source);
    $.ajax({
        type: 'POST',
        url: cfg.checkUrl,
        dataType: 'json',
        success: function (str) {
            if(str.code == 200){
                var incomplete = str.data && str.data.incomplete;
                layer.confirm(updateConfirmHtml(str), {
                  title: incomplete ? '更新未生效' : cfg.title,
                  area: ['520px', 'auto'],
                  btn: [incomplete ? '关闭防篡改并重新安装' : '确认更新', '取消']
                }, function(){
                    runSystemUpdate(source, !!incomplete);
                });
            }else if(str.code == 204 && str.data && str.data.can_reinstall){
                var tip = updateConfirmHtml(str);
                tip += '<p style="text-align:left;color:#a94442;margin-top:8px;">如文件被防篡改恢复，可重新下载安装当前版本。</p>';
                layer.confirm(tip, {
                  title: cfg.title + ' - 已是最新版',
                  area: ['520px', 'auto'],
                  btn: ['重新下载并安装', '关闭']
                }, function(){
                    runSystemUpdate(source, true);
                });
            }else{
                layer.alert(str.msg || '检查更新失败');
            }
        },
        error: function () {
            layer.alert(cfg.title + '检查失败', {icon: 2});
        }
    });
}
function update(){
    checkOnlineUpdate('nuosike');
}
function githubUpdate(){
    checkOnlineUpdate('github');
}
    
</script>
