        .web_toast{
    position: fixed;
	margin: 0 10px;
    z-index: 9999;
    font-weight: bold;
    display: none;
    display: block;
    padding: 10px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    text-align: center;
    border-radius: 5px;
}
    .ipasm2 {
    position: absolute;
    top: 11.8rem;
    right: 0;
    height: 2rem;
    padding: 0 .6rem 0 .999rem;
    color: #6c6d6c;
    font-size: 0.9rem;
    line-height: 2rem;
    background-color: rgba(0,0,0,0.05);
    border-top-left-radius: 1rem;
    border-bottom-left-radius:1rem
        }
    .ipasm3 {
    position: absolute;
    top: 14.9rem;
    right: 0;
    height: 2rem;
    padding: 0 .6rem 0 .999rem;
    color: #6c6d6c;
    font-size: 0.9rem;
    line-height: 2rem;
    background-color: rgba(0,0,0,0.05);
    border-top-left-radius: 1rem;
    border-bottom-left-radius:1rem
        }
    .ipasm4 {
    position: absolute;
    top: 18rem;
    right: 0;
    height: 2rem;
    padding: 0 .6rem 0 .999rem;
    color: #03a503;
    font-size: 0.9rem;
    line-height: 2rem;
    background-color: rgba(0,0,0,0.05);
    border-top-left-radius: 1rem;
    border-bottom-left-radius:1rem
        }
    .ipasm5 {
    position: absolute;
    top: 21.1rem;
    right: 0%;
    height: 2rem;
    padding: 0 .6rem 0 .999rem;
    color: #FF0000;
    font-size: 0.9rem;
    line-height: 2rem;
    background-color: rgba(0,0,0,0.05);
    border-top-left-radius: 1rem;
    border-bottom-left-radius:1rem
        }
    .ipasm6 {
    position: absolute;
    top: 18rem;
    right: 10%;
    height: 2rem;
    padding: 0 .6rem 0 .999rem;
    color: #595959;
    font-size: 0.8rem;
    line-height: 2rem;
    background-color: rgba(0,0,0,0.1);
    border-radius: 22px;
        }
    .room {
    position: absolute;
	margin: 0 22px;
    padding: 0 13px;
    border-radius: 22px;
    height: 1.4rem;
    color: #FFFFFF;
    font-size: 0.65rem;
    line-height: 1.5rem;
    background-color: #1a8ef1;
    }
    .room2 {
    position: absolute;
	margin: 0 266px;
    line-height: 1.95rem;
    font-size: 1.2rem;

    }
    
    .room3 {
    position: absolute;
	margin: 0 -111px;
    padding: 0 15px;
    border-radius: 22px;
    height: 1.9rem;
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 1.9rem;
    background-color: #1a8ef1;
    }
        .room4 {
    position: absolute;
	margin: 0 64px;
    padding: 0 15px;
    border-radius: 22px;
    height: 1.9rem;
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 1.9rem;
    background-color: #1a8ef1;
    }
    
            .room5 {
    position: absolute;

    padding: 0 10px;
    margin:6px 0px 0px 0px; /*上右下左*/
    border-radius: 5px;
    height: 1.4rem;
    color: #FFFFFF;
    font-size: 0.65rem;
    line-height: 1.5rem;
    float:right;
    background-color: #1a8ef1;
    margin-top: 0px;
    float:right;
     }  
      
        .room6 {
    position: absolute;
	margin: 0 57px;
    padding: 0 15px;
    border-radius: 22px;
    height: 1.4rem;
    color: #FFFFFF;
    font-size: 0.65rem;
    line-height: 1.5rem;
    background-color: #1a8ef1;
    
    }