<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kami')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-kami" data-rule="required" class="form-control" name="row[kami]" type="text" value="{$row.kami|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Udid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-udid" data-rule="" class="form-control" name="row[udid]" type="text" value="{$row.udid|htmlentities}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">卡密用途:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[card_scope]', ['1'=>'全软件源授权', '3'=>'指定App授权', '2'=>'仅验证'], $row['card_scope'])}
            <span class="help-block">修改已激活卡的用途会立即改变它当前能够获得的软件源下载权限。</span>
        </div>
    </div>

    <div id="card-app-targets" class="form-group" style="display:none;">
        <label class="control-label col-xs-12 col-sm-2">授权App:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[app_ids][]', $appOptions, $selectedAppIds, ['class'=>'form-control selectpicker', 'multiple'=>'', 'data-live-search'=>'true', 'data-actions-box'=>'true', 'title'=>'请选择要解锁的App'])}
            <span class="help-block">指定App卡必须至少选择一个App；其他付费App仍保持锁定。</span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kmyp')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[kmyp]', ['4'=>'日卡', '5'=>'周卡','1'=>'月卡', '2'=>'季卡', '3'=>'年卡'], $row['kmyp'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Jh')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[jh]', ['0'=>'未激活', '1'=>'已激活'], $row['jh'])}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">换绑次数:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-transfer-count" data-rule="required;integer;range(0~1000000)" class="form-control" name="row[transfer_count]" type="number" min="0" max="1000000" value="{$row.transfer_count|htmlentities}">
            <span class="help-block">当前剩余可换绑次数，可直接增加或减少；有效叠加授权会同步该额度。</span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Addtime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-addtime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[addtime]" type="text" value="{:$row.addtime?datetime($row.addtime):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Usetime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-usetime" data-rule="" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[usetime]" type="text" value="{:$row.usetime?datetime($row.usetime):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Endtime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-endtime" data-rule="" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[endtime]" type="text" value="{:$row.endtime?datetime($row.endtime):''}">
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
