<div class="panel panel-default panel-intro">
    <div class="panel-heading">{:build_heading(null,FALSE)}</div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>OpenList 登录</strong>
                <span class="text-muted">（Token）</span>
            </div>
            <div class="panel-body">
                <div class="alert alert-info">
                    使用 OpenList Token 认证。请求头使用 <code>Authorization: &lt;token&gt;</code>，不会使用 Bearer；Token 加密保存且不会回显明文。
                </div>

                <form id="openlist-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url('ipa_openlist/save')}">
                    <input type="hidden" name="id" value="0">

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2">OpenList 地址</label>
                        <div class="col-xs-12 col-sm-8">
                            <input class="form-control" name="base_url" type="url" placeholder="https://openlist.example.com" data-rule="required;url">
                            <span class="help-block">填写 OpenList 站点根地址，不要填写 <code>/api</code>。</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2">访问令牌 Token</label>
                        <div class="col-xs-12 col-sm-8">
                            <input class="form-control" name="token" type="password" placeholder="请输入 OpenList Token" autocomplete="new-password">
                            <span class="help-block">新增连接必须填写；编辑已有连接时留空表示继续使用原 Token。</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2">IPA 根目录</label>
                        <div class="col-xs-12 col-sm-8">
                            <input class="form-control" name="root_path" value="/" placeholder="/IPA">
                            <span class="help-block">测试连接时会直接请求此目录，用于同时校验 Token 权限与目录访问权限。</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2">请求超时</label>
                        <div class="col-xs-12 col-sm-3">
                            <div class="input-group">
                                <input class="form-control" name="request_timeout" type="number" min="3" max="120" value="20">
                                <span class="input-group-addon">秒</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-2"></label>
                        <div class="col-xs-12 col-sm-8">
                            <button type="button" class="btn btn-default" id="openlist-test"><i class="fa fa-plug"></i> 测试连接</button>
                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> <span id="openlist-save-label">保存配置</span></button>
                            <button type="button" class="btn btn-default hide" id="openlist-edit-cancel">取消编辑</button>
                        </div>
                    </div>
                </form>

                <div id="openlist-test-result" class="alert hide" style="margin-top:15px"></div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><strong>已保存的 OpenList 连接</strong></div>
            <div class="panel-body">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th width="70">ID</th>
                        <th>OpenList 地址</th>
                        <th>IPA 根目录</th>
                        <th width="90">状态</th>
                        <th width="110">超时</th>
                        <th width="100">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="sources" item="source"}
                    <tr>
                        <td>{$source.id}</td>
                        <td>{$source.base_url|htmlentities}</td>
                        <td>{$source.root_path|htmlentities}</td>
                        <td>{if condition="$source.enabled"}<span class="label label-success">启用</span>{else/}<span class="label label-default">停用</span>{/if}</td>
                        <td>{$source.request_timeout} 秒</td>
                        <td>
                            <button type="button" class="btn btn-xs btn-primary btn-openlist-edit"
                                    data-id="{$source.id}"
                                    data-base-url="{$source.base_url|htmlentities}"
                                    data-root-path="{$source.root_path|htmlentities}"
                                    data-request-timeout="{$source.request_timeout}">
                                <i class="fa fa-pencil"></i> 编辑
                            </button>
                        </td>
                    </tr>
                    {/foreach}
                    {if condition="empty($sources)"}
                    <tr><td colspan="6" class="text-center text-muted">尚未配置 OpenList Token 连接</td></tr>
                    {/if}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
